@charset "utf-8"
body{
	font-family:'Noto Sans KR',sans-serif;
}

/* common */
.container{
	width:1160px;
	margin:0 auto;
	height:inherit;
	position:relative;
	background:rgba(255,255,255,.5);
}
/* layout */
#wrap{width:100%;}
#header{width:100%; height:80px; background:#fff;}
#main{width:100%;}
#template{width:100%; height:420px;}
#banner{width:100%; height:600px; background:#f6f6f6;}
#title_box{width:100%; height:auto; background:#fff;}
#bxslider{width:100%; height:auto; background:#555; position:relative;}
#dynamic{width:100%; height:718px; background:#fcce01;}
#movie{width:100%; height:700px; background:#8c816e;}
#user{width:100%; height:418px; background:#fff;}
#reference{width:100%; height:418px; background:#f7f7f7;}
#etc_box{width:100%; height:163px; background:#1e1e1e;}
#footer{width:100%; height:240px; background:#fff;}

/* header */
h1{
	float:left;
	padding-top:27px;
	width:193px;
	height:25px;
}
#nav{
	float:left;
	margin-left:107px;
}
#nav ul{
	overflow:hidden;
	padding-top:27px;
}
#nav ul li{
	float:left;
	margin-right:20px;
}
#nav ul li a{
	display:block;
	font-size:18px;
	color:#333;
	font-weight:bold;
	padding:4px 0;
}
#nav ul li a:hover{
	color:#fecb29;
}

.gnb{
	position:absolute;
	right:0;
	padding:26px 0 17px 26px;
}
.gnb>ul{
	float:left;
	margin-right:12px;
}
.gnb>ul a{
	display:block;
	padding-top:7px;
	font-size:14px;
}
.gnb .sns{
	margin-right:0;
}
.gnb .sns li{
	float:left;
	margin-right:10px;
}
.gnb li{
	float:left;
	margin-left:12px;
}
.gnb li img{
	vertical-align:top;
}

/* mobile */
.mobile{
	display:none;
	position:fixed;
	width:100%;
	height:65px;
	background:#fff;
	z-index:5;
}
.mobile>ul{
	text-align:center;
}
.mobile>ul>li:nth-child(1){
	float:left;
	padding-top:30px;
	padding-left:10px;
}
.appBtn{
	position:relative;
	display:block;
	width:26px;
	height:16px;
}
.appBtn>i{
	position:absolute;
	display:block;
	width:100%;
	hieght:2px;
	left:0;
	background:#555;
}
.appBtn>i.bar1{
	top:0;
	transform:rotate(0deg);
	transition:all 0.3s;
}
.appBtn>i.bar1.addAppbar{
	top:50%;
	margin-top:-1px;
	transform:rotate(0deg);
	transition:all 0.3s;
}
.appBtn>i.bar2{
	top:50%;
	margin-top:-1px;
	transform:rotate(0deg);
	transition:all 0.3s;
}
.appBtn>i.bar2.addAppbar{
	top:50%;
	margin-top:-1px;
	opacity:0;
	transition:all 0.3s;
}
.appBtn>i.bar3{
	bottom:0;
	transform:rotate(0deg);
	transition:all 0.3s;
}
.appBtn>i.bar3.addAppbar{
	bottom:50%;
	margin-bottom:-1px;
	transform:rotate(45deg);
	transition:all 0.3s;
}

.mobile>ul>li:nth-child(2){
	display:inline-block;
	padding-top:25px;
	transition:all 0.3s;
}
.mobile>ul>li:nth-child(2) a img{
	display:block;
	width:193px;
}
.mobile>ul>li:nth-child(3){
	float:right;
	padding-top:22px;
	margin-right:40px;
}
.mobile>ul>li:nth-child(3)>a{
	font-size:20px;
	color:#555;
}

/* main */
.main_top{
	width:100%;
	padding:60px 0;
}

.main_top .container{
	display:flex;
}
.main_top_left{
	width:70%;
	border-radius:1px solid #ddd;
}
.main_top_left h2{
	font-size:32px;
	color:#1e1e1e;
	letter-spacing:-2.88px;
	font-weight:700;
	padding-bottom:30px;
}
.main_top_left h2 .textIcon{
	position:relative;
	left:18px;
	top:10px;
}
.main_top_left .textBold{
	font-size:64px;
	font-weight:300;
	color:#1e1e1e;
	letter-spacing:-4.48px;
}
.main_top_left .textBold .colorY{
	color:#f9c200;
}
.main_top_right{
	width:30%;
	margin-left:50px;
}
.main_top_right h3{
	font-size:17px;
	color:#454545;
	padding-top:5px;
}
.main_top_right .news_wrap{
	margin-top:28px;
	height:150px;
	overflow:hidden;
	position:relative;
}
.main_top_right .news_wrap .news_wrap1{
	position:absolute;
	top:100%;
}
.main_top_right .news_wrap .news_wrap1:first-child{
	top:0;
}
.main_top_right .news_wrap .news_wrap1 p:last-child{
	margin-top:28px;
}
.main_top_right .news_wrap .text{
	font-size:15px;
	letter-spacing:-0.45px;
	color:#454545;
	font-weight:300;
}
.main_top_right .news_wrap .data{
	color:#454545;
	font-weight:300;
	font-size:15px;
	display:block;
}
.main_bottom{
	width:100%;
	height:611px;
	background:#fcce01 url(../images/mango_player3.png) center center no-repeat;
	position:relative;
}
.main_bottom .playBtn{
	position:absolute;
	top:40%;
	left:50%;
	transition:all 0.3s;
	animation-name:ani;
	animation-duration:1s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	transform:scale(1);
}
@keyframes ani{
	from{transform:scale(1)}
	to{transform:scale(1.2)}
}

/* 트레일러 */
.overlay{
	background:rgba(0,0,0,.9);
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:999999;
	display:none;
}
.modal{
	position:absolute;
}
.modal_colse{
	width:32px;
	height:32px;
	position:absolute;
	dispaly:block;
	background:url(../images/close.svg) no-repeat;
	background-size:32px 32px;
	border:0;
	top:24px;
	right:24px;
	text-indent:100%;
	color:transparent;
}

/* template */
#template .container .template_line ul li a{
	font-size:16px;
	color:#ccc;
	letter-spacing:0.8px;
}
#template .container h2{
	font-size:40px;
	color:#1e1e1e;
	margin-top:70px;
	text-align:center;
}
#template .container p{
	font-size:18px;
	color:#777;
	margin-top:27px;
	font-weight:300;
	text-align:center;
}
#template .container .template_line{
	margin-top:74px;
}
#template .container .template_line ul li{
	float:left;
	position:relative;
	/* margin-left:13px; */
}
#template .container .template_line ul.cf>li:nth-child(2n){
	top:70px;
}
#template .container .template_line ul.cf>li:nth-child(4){
	left:20px;
}
#template .container .template_line ul.cf>li:nth-child(5){
	left:20px;
}
#template .container .template_line ul.cf>li:nth-child(6){
	left:20px;
}
#template .container .template_line ul.cf>li:nth-child(7){
	left:40px;
}
#template .container .template_line ul.cf>li:nth-child(8){
	left:40px;
}
#template .container .template_line ul.cf>li:nth-child(9){
	left:-10px;
}
#template .container .template_line ul.cf>li:nth-child(10){
	left:-30px;
}
#template .container .template_line ul.cf>li:nth-child(11){
	left:-40px;
}
#template .container .template_line ul.cf>li:nth-child(12){
	left:-25px;
}
#template .container .template_line ul.cf>li:nth-child(13){
	left:-40px;
}
#template .container .template_line ul.cf>li:nth-child(14){
	left:-25px;
}
#template .container .template_line ul.cf>li:nth-child(14){
	left:-25px;
}
#template .container .template_line ul.cf>li:nth-child(15){
	left:-25px;
}
#template .container .template_line ul li.on a{
	color:#000;
}
#template .container .template_line ul li .template_text{
	display:none;
	position:absolute;
	background:#777;
	padding:5px;
	width:300px;
	font-size:12px;
	letter-spacing:-1px;
	border-radius:20px;
	overflow:hidden;
	top:-30px;
	color:#fff;
}
#template .container .template_line ul li:nth-child(2n) .template_text{
	top:30px;
}
#template .container .template_line ul li.on .template_text{
	display:block;
}

#template .container .template_line .template_text.template_text1{
	right:0;
}
#template .container .template_line .template_text.template_text2{
	right:0;
}
#template .container .template_line .template_text.template_text3{
	right:0;
}
#template .container .template_line ul li .ellipse{
	display:block;
	width:18px;
	height:18px;
	background:#fcce01;
	border-radius:50%;
	position:absolute;
	top:3px;
	left:35px;
	text-align:center;
	font-size:12px;
	color:#fff;
}
#template .btn{
	width:100%;
	margin-top:20px;
	margin-left:20px;
}
#template .btn>li{
	width:14px;
	height:14px;
	border-radius:50%;
	border:1px solid #757575;
	float:left;
	margin-right:45px;
	margin-left:14px;
}
#template .btn .on{
	background:#757575;
}

/* banner */
.container1{
	width:100%;
	position:relative;
}
.container1 .bannerLeftBtn{
	position:absolute;
	left:5%;
	top:280px;
	z-index:999;
}
.container1 .bannerRightBtn{
	position:absolute;
	right:5%;
	top:280px;
	z-index:999;
}
.container1 .bannerArea{
	width:1440px;
	margin:0 auto;
	height:inherit;
	top:65px;
	position:relative;
	overflow:hidden;
}
.container1 .bannerArea ul{
	position:relative;
	width:2000px;
	overflow:hidden;
	height:427px;
}
.container1 .bannerArea ul li{
	float:left;
	margin-right:60px;
}
.container1 .bannerArea ul li:last-child{
	margin-left:0;
}
.container1 .bannerArea ul li img{
	width:240px;
}
.container2{
	display:none;
}

/* title_box */
.section_title{
	font-size:40px;
	color:#1e1e1e;
	letter-spacing:-2px;
	text-align:center;
	padding-top:72px;
}
.section_p{
	font-size:18px;
	color:#777;
	padding-top:30px;
	text-align:center;
	padding-bottom:60px;
}

















