@charset "utf-8"
body{
	font-family:'Noto Sans KR',sans-serif;
}

/* common */
.container{
	width:1160px;
	margin:0 auto;
	height:inherit;
	position:relative;
	background:rgba(255,255,255,.5);
}
/* layout */
#wrap{width:100%;}
#header{width:100%; height:80px; background:#fff;}
#main{width:100%;}
#template{width:100%; height:420px;}
#banner{width:100%; height:600px; background:#f6f6f6;}
#title_box{width:100%; height:auto; background:#fff;}
#bxslider{width:100%; height:auto; background:#555; position:relative;}
#dynamic{width:100%; height:718px; background:#fcce01;}
#movie{width:100%; height:700px; background:#8c816e;}
#user{width:100%; height:418px; background:#fff;}
#reference{width:100%; height:418px; background:#f7f7f7;}
#etc_box{width:100%; height:163px; background:#1e1e1e;}
#footer{width:100%; height:240px; background:#fff;}

/* header */
h1{
	float:left;
	padding-top:27px;
	width:193px;
	height:25px;
}
#nav{
	float:left;
	margin-left:107px;
}
#nav ul{
	overflow:hidden;
	padding-top:27px;
}
#nav ul li{
	float:left;
	margin-right:20px;
}
#nav ul li a{
	display:block;
	font-size:18px;
	color:#333;
	font-weight:bold;
	padding:4px 0;
}
#nav ul li a:hover{
	color:#fecb29;
}

.gnb{
	position:absolute;
	right:0;
	padding:26px 0 17px 26px;
}
.gnb>ul{
	float:left;
	margin-right:12px;
}
.gnb>ul a{
	display:block;
	padding-top:7px;
	font-size:14px;
}
.gnb .sns{
	margin-right:0;
}
.gnb .sns li{
	float:left;
	margin-right:10px;
}
.gnb li{
	float:left;
	margin-left:12px;
}
.gnb li img{
	vertical-align:top;
}

/* mobile */
.mobile{
	display:none;
	position:fixed;
	width:100%;
	height:65px;
	background:#fff;
	z-index:5;
}
.mobile>ul{
	text-align:center;
}
.mobile>ul>li:nth-child(1){
	float:left;
	padding-top:30px;
	padding-left:10px;
}
.appBtn{
	position:relative;
	display:block;
	width:26px;
	height:16px;
}
.appBtn>i{
	position:absolute;
	display:block;
	width:100%;
	hieght:2px;
	left:0;
	background:#555;
}
.appBtn>i.bar1{
	top:0;
	transform:rotate(0deg);
	transition:all 0.3s;
}
.appBtn>i.bar1.addAppbar{
	top:50%;
	margin-top:-1px;
	transform:rotate(0deg);
	transition:all 0.3s;
}
.appBtn>i.bar2{
	top:50%;
	margin-top:-1px;
	transform:rotate(0deg);
	transition:all 0.3s;
}
.appBtn>i.bar2.addAppbar{
	top:50%;
	margin-top:-1px;
	opacity:0;
	transition:all 0.3s;
}
.appBtn>i.bar3{
	bottom:0;
	transform:rotate(0deg);
	transition:all 0.3s;
}
.appBtn>i.bar3.addAppbar{
	bottom:50%;
	margin-bottom:-1px;
	transform:rotate(45deg);
	transition:all 0.3s;
}

.mobile>ul>li:nth-child(2){
	display:inline-block;
	padding-top:25px;
	transition:all 0.3s;
}
.mobile>ul>li:nth-child(2) a img{
	display:block;
	width:193px;
}
.mobile>ul>li:nth-child(3){
	float:right;
	padding-top:22px;
	margin-right:40px;
}
.mobile>ul>li:nth-child(3)>a{
	font-size:20px;
	color:#555;
}







